* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  text-align: center;
}
/* <!------------------------------ LANDING PAGE---------------------------> */
.landing-container {
  display: none;
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
  /* opacity: 0.5;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.logo-img {
  height: 300px;
  width: 350px;
}

.title {
  font-size: 55px;
  color: rgb(201, 29, 201);
  text-shadow: 0 0 6px black;
  margin: 0;
}

.text-white {
  color: white;
}

.m-20 {
  /* margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px; */
  margin: 4%;
  
}

.control-section li {
  text-align: center;
}


.list {
  color: white;
  list-style: none;
  text-align: left;
  justify-content: center;
}

.arrows-img {
  width: 150px;
}

.take-off {
  padding: 12px 17px;
  font-size: 20px;
  margin: 0;
}

/*----------------------------------------------------------------------*/



/* #game-intro {
  padding: 20px 0px;
  text-align: center;
} */

/* .instructions {
  justify-content:space-between;  
} */

/* .list-items {
  padding: 3px;
  text-align: left !important;
} */

/* #game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
 } */
/* ------------------------------- GAME SCREEN -------------------------------------------------------*/

.game-screen {
  display: block;
  align-content: center;
  overflow: hidden;
  position: relative;
  background-image: url(/images/background-2.jpg);
  background-size: 100% 100%;
  animation: 20s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100px;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

body button {
  font-size: 30px;
  background-color: rgb(201, 29, 201);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}