body{
  padding: 0;
  margin: 0;
  text-align: center;
}
/*--------------------------- LANDING CONTAINER ----------------------- */
#start-page{
  background-image: url(../images/background-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  color:#fff;
  overflow-x: hidden;
  background-size: cover;
}

#start-button{
  margin-top: 10px;
  
}

.font-10{
  font-size: x-large;
}

.b-10{
  font-weight: bold;
}

/*---------------------------- GAME CONTAINER --------------------------- */ 
#game-container { 
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: absolute;
  background-size: cover;
  animation: slide 20s linear infinite;
  background-image: url(../images/background-2.jpg);
  background-repeat: repeat;
  height: 100VH;
  color: white;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

/* .music{
  visibility: hidden;
} */
/*--------------------------- GAME END LOSS SCREEN ---------------------- */
#game-end{
  display: none;
  background-image: url(../images/background-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

 .lost-astronaut{
  height: 180px;
  width: 180px; 
}

.lost-in-space{
  font-size: 3em;
}
/* ------------------------------ GAME END WON SCREEN ----------------------*/ 

#game-endwon{
  display: none;
  background-image: url(../images/background-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

 .saved-astronaut{
  height: 180px;
  width: 180px; 
}

.congratulations{
  font-size: 3em;
}

/*---------------------------------------------------------------------------*/


.game-intro p{
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img{
  width: 300px;
  height: 300px;
}

.arrows-img{
height: 200px;
width: 200px;
}

body button{
  font-size: 20px;
  background-color: rgb(153, 6, 153);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover{
  cursor: grab;
}